* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

body>h1 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 400px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.radio-group input {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.form-actions button {
    background-color: rgb(202, 198, 198);
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
}